<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py
    '$(find stembot_description)/urdf/stembot.urdf.xacro'" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <node name="static_transform" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 odom base_link 100" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stembot_description)/config/isometric.rviz" required="true" />
</launch>
